---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import Footer from '../components/Footer.astro';
import translations from '../content/translations/en.json';


---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="All about Subo and the amazing team behind it" description="Learn about Subo, the Discord survey and poll bot trusted by 15,000+ communities to collect feedback and engage members." />
	</head>
	<body>
		<Header translations={translations.header} />
  <main>
  <h2>All about Subo</h2>
  <p>Why Subo? SU-BO. SUrvey-BOt. Get it?.</p>
 </main>
		<Footer translations={translations.footer}/>
	</body>
</html>