---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION, DISCORD_STORE_URL } from '../consts';

import Footer from '../components/Footer.astro';
import translations from '../content/translations/en.json';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="Advanced Discord Polls with Subo the Survey Bot" description="Discord has its own native poll feature, but Subo has more advanced features. Find out more." />
	</head>
	<body>
		<Header translations={translations.header} />
  <main>

  <h1>Advanced Discord polls with Subo</h2>
  <h2 class="subtitle">Yes, Discord has native polls... but they’re limited.</h2>
<p>With Subo, you get powerful controls:</p>
<ul>
<li>Choose who can vote</li>
<li>Set when polls start and close</li>
<li>Export the data</li>
<li>Decide how results are shown</li>
<li>And more</li>
</ul>
<p>Polls are perfect for group decisions, quick takes, or keeping members engaged.</p>
<h2 class="subtitle">🧠 Build a Clearer Picture Over Time</h2>
<p>When you want to collect more information about your community, one strategy is to create a survey convo with multiple questions. </p>
<p>Another strategy is to run multiple quick polls (or short surveys) regularly.</p>
<p> With Subo, all responses are tied to each member (unless anonymous mode is on), so you can connect the dots over time.</p>
<p>See how opinions evolve. Follow up. Understand individual preferences, not just overall votes.</p>
<p>Discord’s native polls can’t do that.</p>

 </main>
		<Footer translations={translations.footer}/>
	</body>
</html>

<style>
main {
	padding: 150px 50px;
	margin: 20px auto;
}
</style>