---
import LegalLayout from '../layouts/LegalLayout.astro';
import translations from '../content/translations/en.json';
---
<LegalLayout>
	
		<div class="text-08">
			


	
	
	<div class="container container--small">
		<div class="title-box title-box--center">
			
				
					<h1 class="title-text heading " >Privacy Statement</h1>
				
			
			
				<div class="subtitle-text title-box__text content_box "><p>&nbsp;Last updated: <em>June 5th 2023.</em>&nbsp;</p>
</div>
			
		</div>
	</div>


			<div class="container container--small">
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">1. Introduction
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>We are committed to making your information secure and putting you in control of your data. This privacy section discusses what Personal Data we collect, how it is used, and what you can do to update, manage and delete it. It is meant to help you better control your data and manage your privacy.</p>
<p>ClearSwell LLC (“Company”, “we”, or “us”), located at 1155 N Cedar St, Glendale CA 91207 in the United States, is the operator of Subo the survey bot, along with our associated websites and services (collectively, “sites”). We provide Software-as-a-Service (SaaS) and market research services (“Services”) to our customers and clients (“Customers”), including online surveys and focus groups (“Surveys”) where you can answer questions from our Customers.</p>
<p>We may disclose your information to affiliates within Subo for customer support, marketing, technical operations, and account management purposes.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">2. Service
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>We operate an online survey platform, through which Discord server owners and the server members they authorize (“<strong>creators</strong>”) can conduct surveys among members of their server. Creators create a survey questionnaire and set targeting criteria. We distribute the survey to the members who meet the targeting criteria (“<strong>participants</strong>”), collect survey answers from participants and provide reports to creators, which contain the creator's survey questions and the answers to such questions (“<strong>survey report</strong>”).</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">3. Contests, Sweepstakes and Promotions
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>Any contests, sweepstakes or other promotions (collectively, “<strong>Promotions</strong>”) made available through Service may be governed by rules that are separate from these Terms of Service. If you participate in any Promotions, please review the applicable rules as well as our <a href="/privacy" target="_blank">Privacy Policy</a>  . If the rules for a Promotion conflict with these Terms of Service, Promotion rules will apply.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">4. Virtual Rewards
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>By using the Service, you may be eligible to receive virtual rewards points ("<strong>Currency</strong>") for use only within the Service. Currency may be earned by answering survey questions or by other mechanisms. Currency possesses no cash or monetary value, may not be redeemed outside the Service, and may not be purchased from us or any third party for real currency. You acknowledge that Currency is purely promotional and is provided without payment of anything of value by you. We reserve the right to terminate, cancel, temporarily suspend, change, modify, or amend the Currency system at any time with or without notice to you.&nbsp;</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">5. Content
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>Our Service allows you to post, link, store, share and otherwise make available certain information, text, graphics, videos, or other material (“<strong>Content</strong>”). You are responsible for Content that you post on or through Service, including its legality, reliability, and appropriateness.</p>
<p>By posting Content on or through Service, You represent and warrant that: (i) Content is yours (you own it) and/or you have the right to use it and the right to grant us the rights and license as provided in these Terms, and (ii) that the posting of your Content on or through Service does not violate the privacy rights, publicity rights, copyrights, contract rights or any other rights of any person or entity. We reserve the right to terminate the account of anyone found to be infringing on a copyright.</p>
<p>You retain any and all of your rights to any Content you submit, post or display on or through Service and you are responsible for protecting those rights. Creator is the exclusive owner of all survey reports as defined in section 2 of this Agreement. We take no responsibility and assume no liability for Content you or any third party posts on or through Service. However, by posting Content using Service you grant us the right and license to use, modify, publicly perform, publicly display, reproduce, and distribute such Content on and through Service. You agree that this license includes the right for us to make your Content available to other users of Service, who may also use your Content subject to these Terms.</p>
<p>ClearSwell LLC has the right but not the obligation to monitor and edit all Content provided by users.</p>
<p>In addition, Content found on or through this Service are the property of ClearSwell LLC or used with permission. You may not distribute, modify, transmit, reuse, download, repost, copy, or use said Content, whether in whole or in part, for commercial purposes or for personal gain, without express advance written permission from us.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">6. Prohibited Uses
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>You may use Service only for lawful purposes and in accordance with Terms. You agree not to use Service:</p>
<p>(a) In any way that violates any applicable national or international law or regulation.</p>
<p>(b) For the purpose of exploiting, harming, or attempting to exploit or harm minors in any way by exposing them to inappropriate content or otherwise.</p>
<p>(c) To transmit, or procure the sending of, any advertising or promotional material, including any “junk mail”, “chain letter,” “spam,” or any other similar solicitation.</p>
<p>(d) To impersonate or attempt to impersonate Company, a Company employee, another user, or any other person or entity.</p>
<p>(e) In any way that infringes upon the rights of others, or in any way is illegal, threatening, fraudulent, or harmful, or in connection with any unlawful, illegal, fraudulent, or harmful purpose or activity.</p>
<p>(f) To engage in any other conduct that restricts or inhibits anyone’s use or enjoyment of Service, or which, as determined by us, may harm or offend Company or users of Service or expose them to liability.</p>
<p>Additionally, you agree not to:</p>
<p>(a) Use Service in any manner that could disable, overburden, damage, or impair Service or interfere with any other party’s use of Service, including their ability to engage in real time activities through Service.</p>
<p>(b) Use any robot, spider, or other automatic device, process, or means to access Service for any purpose, including monitoring or copying any of the material on Service.</p>
<p>(c) Use any manual process to monitor or copy any of the material on Service or for any other unauthorized purpose without our prior written consent.</p>
<p>(d) Use any device, software, or routine that interferes with the proper working of Service.</p>
<p>(e) Introduce any viruses, trojan horses, worms, logic bombs, or other material which is malicious or technologically harmful.</p>
<p>(f) Attempt to gain unauthorized access to, interfere with, damage, or disrupt any parts of Service, the server on which Service is stored, or any server, computer, or database connected to Service.</p>
<p>(g) Attack Service via a denial-of-service attack or a distributed denial-of-service attack.</p>
<p>(h) Take any action that may damage or falsify Company rating.</p>
<p>(i) Otherwise attempt to interfere with the proper working of Service.</p>
<p>(j) Use the service to collect sensitive data from participants such as banking and credit details, passwords, or social security numbers.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">7. Analytics
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>We may use third-party Service Providers to monitor and analyze the use of our Service.</p>
<p><strong>Google Analytics</strong></p>
<p>Google Analytics is a web analytics service offered by Google that tracks and reports website traffic from our web pages. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualise and personalise the ads of its own advertising network.</p>
<p>For more information on the privacy practices of Google, please visit the Google Privacy Terms web page: <a href="https://policies.google.com/privacy?hl=en" target="_self">https://policies.google.com/privacy?hl=en</a></p>
<p>We also encourage you to review the Google's policy for safeguarding your data: <a href="https://support.google.com/analytics/answer/6004245" target="_self">https://support.google.com/analytics/answer/6004245</a>.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">8. Age requirements
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>By accessing our Service, you confirm that you are at least 13 years old and meet the minimum age of digital consent in your country. If you are based outside the United States, you are responsible for knowing what that minimum age is in your country. If you are old enough to access our Service in your country, but not old enough to have authority to consent to our terms, your parent or guardian must agree to our terms on your behalf. Please ask your parent or guardian to read these terms with you. If you are a parent or legal guardian, and you allow your teenager to use the Service, then these terms also apply to you and you are responsible for your teenager’s activity on the Service.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">9. Accounts
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>When you create an account with us, you guarantee that the information you provide us is accurate, complete, and current at all times. Inaccurate, incomplete, or obsolete information may result in the immediate termination of your account on the Service.</p>
<p>You are responsible for maintaining the confidentiality of your account and password, including but not limited to the restriction of access to your computer and/or account. You agree to accept responsibility for any and all activities or actions that occur under your account and/or password, whether your password is with our Service or a third-party service. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of your account.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">10. Intellectual Property
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>Service and its original content (excluding Content provided by users), features and functionality are and will remain the exclusive property of Company and its licensors. Service is protected by copyright, trademark, and other laws of the United States. Our trademarks and trade dress may not be used in connection with any product or service without our prior written consent.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">11. Error Reporting and Feedback
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>You may provide us directly at hello@subo.ai with information and feedback concerning errors, suggestions for improvements, ideas, problems, complaints, and other matters related to our Service (“<strong>Feedback</strong>”). You acknowledge and agree that: (i) you shall not retain, acquire or assert any intellectual property right or other right, title or interest in or to the Feedback; (ii) Company may have development ideas similar to the Feedback; (iii) Feedback does not contain confidential information or proprietary information from you or any third party; and (iv) Company is not under any obligation of confidentiality with respect to the Feedback. In the event the transfer of the ownership to the Feedback is not possible due to applicable mandatory laws, you grant Company and its affiliates an exclusive, transferable, irrevocable, free-of-charge, sub-licensable, unlimited and perpetual right to use (including copy, modify, create derivative works, publish, distribute and commercialize) Feedback in any manner and for any purpose.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">12. Links To Other Web Sites
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>Our Service may contain links to third party web sites or services that are not owned or controlled by us.</p>
<p>We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third party web sites or services. We do not warrant the offerings of any of these entities/individuals or their websites.</p>
<p>YOU ACKNOWLEDGE AND AGREE THAT COMPANY SHALL NOT BE RESPONSIBLE OR LIABLE, DIRECTLY OR INDIRECTLY, FOR ANY DAMAGE OR LOSS CAUSED OR ALLEGED TO BE CAUSED BY OR IN CONNECTION WITH USE OF OR RELIANCE ON ANY SUCH CONTENT, GOODS OR SERVICES AVAILABLE ON OR THROUGH ANY SUCH THIRD PARTY WEB SITES OR SERVICES.</p>
<p>WE STRONGLY ADVISE YOU TO READ THE TERMS OF SERVICE AND PRIVACY POLICIES OF ANY THIRD PARTY WEB SITES OR SERVICES THAT YOU VISIT.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">13. Limitation Of Liability
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>EXCEPT AS PROHIBITED BY LAW, YOU WILL HOLD US AND OUR OFFICERS, DIRECTORS, EMPLOYEES, AND AGENTS HARMLESS FOR ANY INDIRECT, PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGE, HOWEVER IT ARISES (INCLUDING ATTORNEYS' FEES AND ALL RELATED COSTS AND EXPENSES OF LITIGATION AND ARBITRATION, OR AT TRIAL OR ON APPEAL, IF ANY, WHETHER OR NOT LITIGATION OR ARBITRATION IS INSTITUTED), WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE, OR OTHER TORTIOUS ACTION, OR ARISING OUT OF OR IN CONNECTION WITH THIS AGREEMENT, INCLUDING WITHOUT LIMITATION ANY CLAIM FOR PERSONAL INJURY OR PROPERTY DAMAGE, ARISING FROM THIS AGREEMENT AND ANY VIOLATION BY YOU OF ANY FEDERAL, STATE, OR LOCAL LAWS, STATUTES, RULES, OR REGULATIONS, EVEN IF COMPANY HAS BEEN PREVIOUSLY ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. EXCEPT AS PROHIBITED BY LAW, IF THERE IS LIABILITY FOUND ON THE PART OF COMPANY, IT WILL BE LIMITED TO THE AMOUNT PAID FOR THE PRODUCTS AND/OR SERVICES, AND UNDER NO CIRCUMSTANCES WILL THERE BE CONSEQUENTIAL OR PUNITIVE DAMAGES. SOME STATES DO NOT ALLOW THE EXCLUSION OR LIMITATION OF PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE PRIOR LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">14. Termination
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>We reserve the right to refuse service, suspend or terminate accounts, remove or edit content in our sole discretion and without notice, for any reason whatsoever and without limitation, including but not limited to a breach of Terms. The suspension or deletion of accounts shall not entitle users to any claims for compensation or damages.</p>
<p>You can delete your account with our service by following the instructions in the <a href="/privacy" target="_blank"><ins>Privacy Policy</ins></a>, and you can     remove the bot from your Discord server by “kicking” it. You can also terminate your account by directly contacting the Company at the contact details provided in this document.</p>
<p>All provisions of Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">15. Governing Law
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>These Terms shall be governed and construed in accordance with the laws of State of California without regard to its conflict of law provisions.</p>
<p>Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect. These Terms constitute the entire agreement between us regarding our Service and supersede and replace any prior agreements we might have had between us regarding the Service.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">16. Changes To Service
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>We reserve the right to withdraw or amend our Service, and any service or material we provide via Service, in our sole discretion without notice. We will not be liable if for any reason all or any part of Service is unavailable at any time or for any period. From time to time, we may restrict access to some parts of Service, or the entire Service, to users, including registered users.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">17. Amendments To Terms
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p><strong><ins>Amendments To Terms</ins></strong></p>
<p>We may amend Terms at any time by posting the amended terms on this site. It is your responsibility to review these Terms periodically.</p>
<p>Your continued use of the Platform following the posting of revised Terms means that you accept and agree to the changes. You are expected to check this page frequently so you are aware of any changes, as they are binding on you.</p>
<p>By continuing to access or use our Service after any revisions become effective, you agree to be bound by the revised terms. If you do not agree to the new terms, you are no longer authorized to use Service.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">18. Waiver And Severability
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>No waiver by Company of any term or condition set forth in Terms shall be deemed a further or continuing waiver of such term or condition or a waiver of any other term or condition, and any failure of Company to assert a right or provision under Terms shall not constitute a waiver of such right or provision.</p>
<p>If any provision of Terms is held by a court or other tribunal of competent jurisdiction to be invalid, illegal or unenforceable for any reason, such provision shall be eliminated or limited to the minimum extent such that the remaining provisions of Terms will continue in full force and effect.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">19. Acknowledgement
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>BY USING SERVICE OR OTHER SERVICES PROVIDED BY US, YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS OF SERVICE AND AGREE TO BE BOUND BY THEM.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">20.	Contact Us
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>Please send your feedback, comments, requests for technical support or termination by email at hello@subo.ai or by creating a support ticket on our Discord support server at <a href="/support" target="_blank">https://subo.ai/support</a>.&nbsp;</p>
</div>
							</div>
						</div>
					
				
				
	


			</div>
		</div>
	


      
		</div>
	</div>
  
  

  
  
  
  
  
  
  
  
	<div 
    class="page-component__bg_image_box    bg-white-color   text-07-parent  is-not-first-component"
    id="text-07-224171"
    
    
  >
		
		<div 
      class="page-component__bg_overlay_box " 
      style=""
    >
			
		</div>
    
		<div class="page-component__wrapper" style="z-index: 12;padding-top:50px;padding-bottom:70px;">
      
        
	
	
		<div class="text--07">
			<div class="container container--small">
				
					<h2 class="title-text heading ">  Personal Data We Collect</h2>
				
				
					<div class="content_box ">
						<div class="content-text "><p>We are the controller and responsible for your data. Here is the Personal Data we collect:</p>
<ul>
<li><strong>Profile Data</strong>: by accessing and using the Sites or the Services, we will receive from Discord your Discord ID, username, and the name and identifier of the Discord server you come from. This information will be associated with a unique identifier that we generate for you. You may also be asked to provide Personal Data such as your email address, age, gender, language or location.</li>
<li><strong>Survey data</strong>: When you create a questionnaire on our platform, we collect the content of the questionnaire and its attributes. We also collect metadata such as the date and time of creation.</li>
<li><strong>Respondent Data</strong>: When you participate and answer questions from our surveys, we will also collect your answers such as personal opinions on the topic of the research (products and services, brands and companies), declared behaviors, demographic information (including marital status, family details, occupation, education, media usage, income bracket, home ownership). In some cases, you may be asked to voluntarily provide Personal Data which may be considered “sensitive”, including racial and ethnic origin, political and religious beliefs, sexual orientation and health or disability status. You may refuse to answer these or any other questions or discontinue participation at any time.</li>
<li><strong>Screening Data: </strong>Before completing a survey, we may ask that you provide some data to help us match you with a relevant survey. When you complete this screening questionnaire, we collect additional data from you, some of which we may append to your user profile.</li>
<li><strong>Third-Party Survey Data</strong>: at times we may offer and you may agree to be connected with different third parties through their surveys. Where you provide your information to a third party, the third party will serve as the controller of your data.</li>
</ul>
</div>
					</div>
				
				
			</div>
		</div>
	


      
		</div>
	</div>
  
  

  
  
  
  
  
  
  
  
	<div 
    class="page-component__bg_image_box    bg-white-color   text-08-parent  is-not-first-component"
    id="text-08-2901"
    
    
  >
		
		<div 
      class="page-component__bg_overlay_box " 
      style=""
    >
			
		</div>
    
		<div class="page-component__wrapper" style="z-index: 11;padding-top:50px;padding-bottom:70px;">
      
        

	
		<div class="text-08">
			




			<div class="container container--small">
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">How We Use Your Personal Data
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>We use the data you share with us to give you a good experience and to provide information and insights to our research clients.</p>
<p>We use Personal Data to:</p>
<ul>
<li>Provide anonymized data to our clients: we will generally provide data sets in an aggregated form, such as reports showing the total number and percentage of respondents having given a certain answer to a question. In some cases, we may share topline results with the press or on our own website and social media.</li>
<li>Provide our clients with entire or partial non-aggregated data sets which do not reveal your identity. For example, text answers to open ended questions will generally be anonymized, then transferred in full.</li>
<li>Select you and invite you to take targeted surveys (a client might be looking for survey participants who live in a certain location, have a certain age and play a certain game; or if you tell us that you use a smartphone, we might ask you new questions about which apps you use on it so that we can invite you to a relevant survey about it)</li>
<li>Verify your identity and prevent fraudulent activity: we may use a combination of questions, location data, IP address and digital fingerprinting techniques to identify some participants which we do not want to access and/or answer certain surveys.</li>
<li>Manage your account (if you contact us, we can associate your user identifier to your account details to better support you)</li>
<li>Communicate with you regarding your participation in the program</li>
<li>Establish a leaderboard ranking different users for the servers you belong to</li>
<li>We may share your information with third parties in the following cases:</li>
<li>Service providers: we may work with trusted service providers to help us run our business, for example cloud data storage, survey/data collection technology, validation and anti-fraud services.</li>
<li>OpenAI API: we use the OpenAI API to analyze answers from open text questions and generate new questionnaires. The OpenAI API is a service that provides access to large language models that can perform various tasks such as natural language processing, computer vision, text generation, and more. When you use our platform, we may send some of your questionnaire data to the OpenAI API for processing. The OpenAI API will not use the data to train or improve its models, but will retain the data for abuse and misuse monitoring pruposes for a maximum of 30 days. You can learn more about <a href="https://openai.com/policies/api-data-usage-policies" target="_blank">how the OpenAI API uses your data in its privacy policy</a>.&nbsp;</li>
<li>Third-party surveys: we may connect you with different third parties offering third-party surveys. If you consent, Subo may transfer some of your profile and/or screening data to the third party to facilitate the relationship between you and the third party. You will also be asked directly by third parties to give them your Personal Data. Those Third Parties have their own Privacy Statement, which we recommend that you read before opting in. We are not responsible for any information which you provide to Third Parties.</li>
<li>We may also provide links to third-party bots, websites and apps, which are independent from Subo and have their own separate privacy policies. We are not responsible for the privacy practices or content of such third-party websites or apps. We recommend that you carefully read the privacy policies of each site or app.</li>
<li>In rare instances, we may be required by law to share Personal Data with public authorities, or we may share data to defend our rights, including with legal advisors</li>
<li>If our business gets acquired, merges, or in case of bankruptcy, your data will be considered an asset and may be transferred to the acquirer. In this case, we will require the other party to agree in writing to respect this Privacy Statement.</li>
</ul>
</div>
							</div>
						</div>
					
				
					
				
				
	


			</div>
		</div>



      
		</div>
	</div>
  
  

  
  
  
  
  
  
  
  
	<div 
    class="page-component__bg_image_box    bg-white-color   text-08-parent  is-not-first-component"
    id="text-08-855561"
    
    
  >
		
		<div 
      class="page-component__bg_overlay_box " 
      style=""
    >
			
		</div>
    
		<div class="page-component__wrapper" style="z-index: 10;padding-top:50px;padding-bottom:70px;">
      
        

	
		<div class="text-08">
			




			<div class="container container--small">
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">Your rights
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>You have the right to request access to Personal Data, the correction or deletion of any Personal Data we hold about you.</p>
<p>We give you access and ability to correct or delete your data directly through our service on Discord y using the /profile command. If you are unable to perform these actions yourself, please contact us to assist you at hello@subo.ai.</p>
<p>In addition, you can also simply exercise your rights by contacting us at hello@subo.ai. To protect your privacy and security, we take reasonable measures to verify your identity before granting you such access.</p>
<p>You also have the right to be free from discrimination for exercizing your rights.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">EEA and UK Residents
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>If you are a resident of the European Economic Area (EEA), you may have certain data protection rights granted by the EEA General Data Protection Regulation (GDPR) and the UK GDPR. The EEA includes all 27 countries in the European Union (EU), Iceland, Norway, and Liechtenstein.&nbsp;</p>
<p><strong>The right to access, rectify or delete the information we have on you</strong>: You have the right to receive confirmation as to whether or not we process your Personal Data and, where we do, to access the Personal Data.&nbsp;</p>
<p><strong>The right to data portability</strong>: You have the right to be provided with a copy of the information we have on you in a structured, machine-readable and commonly used format.</p>
<p><strong>The right to appeal automated decision-making: </strong>you have the right to request human intervention into any decision made automatically in relation to your Personal Data<strong>.</strong></p>
<p><strong>The right to object</strong>: You have the right to object to our processing of your Personal Data.</p>
<p><strong>The right of restriction</strong>: You have the right to request that we restrict the processing of your Personal Data to limit its use.</p>
<p><strong>The right to withdraw consent</strong>: You also have the right to withdraw your consent at any time where we relied on your consent to process your personal information.</p>
<p><strong>The right to complain to a supervisory authority</strong>: if you consider that our processing of your Personal Data is unlawful, you have a legal right to lodge a complaint with your local data protection authority.</p>
<p>Our service lets you directly access, rectify, delete your Personal Data or export it in a commonly used format. Please use the /help command for more information about the different data control commands available through our service or contact us. However, if you are unable to perform these actions yourself, or for other requests related to exercising your rights, please contact us to assist you at  hello@subo.ai.</p>
<p>Please note that we may ask you to verify your identity before responding to such requests. You have the right to complain to a Data Protection Authority about our collection and use of your Personal Data. For more information, please contact your local data protection authority in the European Economic Area (EEA).</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">California Residents
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>&nbsp;The California Consumer Privacy Act (CCPA) gives California consumers certain rights over what they call their personal information (“Personal Data” in this document). If you are a California resident, you have the right to request that we disclose to you the following information covering the 12-month period prior to your request:</p>
<ul>
<li>The categories of Personal Data we collected about you and the categories of sources from which we collected the Personal Data,</li>
<li>The business or commercial purpose for collecting Personal Data about you,</li>
<li>The categories of third parties to whom we disclosed Personal Data about you, and the categories of Personal Data disclosed,</li>
<li>The specific pieces of Personal Data we collected about you,</li>
<li>Delete Personal Data we collected from you.</li>
</ul>
<p>The CCPA also requires that we inform you of your right to opt out of the sale of your Personal Information. As stated early in our Privacy Statement, we will never disclose Personal Data to third parties in exchange for monetary consideration without your consent. However, under the CCPA, a “sale” is defined broadly as the “selling, renting, releasing, disclosing, disseminating, making available, transferring, or otherwise communicating orally, in writing, or by electronic or other means, a consumer’s personal information by  [a] business to another business or a third party” in exchange for “monetary” or “other valuable consideration.” Under this broad definition, certain transfers of information in connection with services we provide to our clients could arguably be considered a "sale" of "personal information" under CCPA.</p>
<p>If you reside in the state of California, and would like to opt out of the sale of your personal information with third parties, please send us an email at  hello@subo.ai. You have the right to designate an authorized agent to make a request under the CCPA on your behalf. In order to verify you have authorized an agent we will require a signed, written authorization from you.&nbsp;</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">Minors
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>We are committed to protecting the privacy of children. We do not knowingly collect data from users under the age of 13 (16 in the European Union) and take reasonable measures to verify a user’s age. If we become aware that we have collected or stored Personal Data from a user under 13 (16 in the EU), we will delete the data. If you are a parent or a guardian of a child and believe that we may have collected your child’s Personal Data, please contact us at  hello@subo.ai.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">How we protect your Personal Data
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>We use reasonable security measures to protect your Personal Data from unauthorized access or loss, misuse and alteration of data. Only the employees whose function requires it have access to your data, and we are doing a thorough due diligence to only work with trustworthy service providers.&nbsp;&nbsp;</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">Location of data
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>Subo data storage is located in the United States.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">Questions and complaints
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>If you have any questions about this Privacy Statement, contact us via email at:  hello@subo.ai.</p>
</div>
							</div>
						</div>
					
				
					
						<div class="text-08__item">
							<h3 class="def-18_72 title-text--inner text--08__heading ">Changes to this Privacy Statement
								<div class="text--08__icon">
                  
									

	
	

	


								</div>
							</h3>
							<div class="content_box ">
								<div class="content-text "><p>This Privacy Statement was last updated on the date that appears at the beginning of the document. It may change from time to time. If we make any changes to this Privacy Statement, we will post any changes on this page. Where we make any material changes to this Privacy Statement, we will make a more prominent notice in compliance with applicable laws. Your continued use of our Sites or Services following such posts or notices will signal that you have read and understand such changes.</p>
</div>
							</div>
						</div>
					
				
				
	


			</div>
		</div>
	

</LegalLayout>
