---
const { translations } = Astro.props;

const ctaTitle = translations.ctaTitle;
const ctaSubtitle = translations.ctaSubtitle;
const ctaButton = translations.ctaButton;
---

<section class="cta">
  <div class="container text-center">
    <h2 class="cta__title">{ctaTitle}</h2>
    <p class="subtitle">{ctaSubtitle}</p>
    <a href="/pricing" class="button button--accent-bg">{ctaButton}</a>
  </div>
</section>

<style>
.cta {
  padding: 3rem;
   background: linear-gradient(var(--secondary-dark), var(--dark));


}

.cta__title {
  padding: 1.5rem 0;
}

.cta__subtitle {
  padding: 1rem 0;
}
</style>