    <!-- CTA Section -->
    <section class="cta bg-primary">
      <div class="container text-center">
        <h2 class="cta__title heading">START BUILDING FOR FREE!</h2>
        <p class="cta__subtitle">No credit card. No setup hassle. Just jump in and play around with few limitations. Do more with paid plans when you're ready.</p>
        
        <div class="cta__buttons">
          
          <a href="/pricing" class="button button--white-outline">
            View Pricing
          </a>
        </div>
      </div>
    </section>

<style>

.cta {
  padding: 3rem;
   background: linear-gradient(var(--secondary-dark), var(--dark));

}


.cta__title {
  padding: 1.5rem 0;
}

.cta__subtitle {
  padding: 1rem 0;
}
</style>