---
import "lite-youtube-embed/src/lite-yt-embed.css";
---

<html>
    
    
  <div class="yt-video">
    
    
    <lite-youtube videoid="2ugbLJdU_ss" id="youtube-demo"></lite-youtube>
    </div>
 
<!-- <div class="chat-container">
    <div class="message bot">How did you like the event?</div>
 <div class="message user">Love it! 🔥</div>
    <div class="message bot">Awesome - I'm glad you liked it?</div>
   <div class="message bot">What changes should we make for the event to be even better next time?</div>
    <div class="input-area">I think it would be great next time to start a little earlier</div> 
    </div> --> 
 
</html>

<script>
  import 'lite-youtube-embed';
</script>

<style>

.yt-video {
    height: auto;
    width: 100%;
    margin: 12px 6px;
    padding: 12px 6px;
}

#youtube-demo {
    border-radius: 1rem;
    margin:auto;

}

.chat-container {
    margin: 100px 5px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}


.message {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    border-radius: 10px;
    margin: 10px 0 20px;
    

}

.bot {
    text-align: left;
    background: var(--primary-dark);
    justify-content: center;
    max-width: 75%;
    align-items: start;

}

.user {
    text-align: right;
    background: var(--black);
    align-items: end;
    max-width: 75%;


}

.input-area {
    padding: 10px 0 5px 5px;
    border-radius: 10px;
    border: 1px solid white;
    align-items: end;
    max-width: 75%;
}

</style>