---
const { translations } = Astro.props;
const features = translations.list;
---


<section class="features">
  <div class="container">
    <header class="features__header">
      <h2 class="features__title" set:html={translations.title}></h2>
      <p class="features__subtitle">{translations.subtitle}</p>
    </header>
    <div class="features__grid">
      {features.map((feature, i) => (
        <div class="feature">
          <span class="feature__icon">
            {i === 0 && (
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-message-square-more-icon lucide-message-square-more"><path d="M22 17a2 2 0 0 1-2 2H6.828a2 2 0 0 0-1.414.586l-2.202 2.202A.71.71 0 0 1 2 21.286V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2z"></path><path d="M12 11h.01"></path><path d="M16 11h.01"></path><path d="M8 11h.01"></path></svg>
            )}
            {i === 1 && (
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-trophy-icon lucide-trophy"><path d="M10 14.66v1.626a2 2 0 0 1-.976 1.696A5 5 0 0 0 7 21.978"></path><path d="M14 14.66v1.626a2 2 0 0 0 .976 1.696A5 5 0 0 1 17 21.978"></path><path d="M18 9h1.5a1 1 0 0 0 0-5H18"></path><path d="M4 22h16"></path><path d="M6 9a6 6 0 0 0 12 0V3a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1z"></path><path d="M6 9H4.5a1 1 0 0 1 0-5H6"></path></svg>
            )}
            {i === 2 && (
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chart-no-axes-combined-icon lucide-chart-no-axes-combined"><path d="M12 16v5"></path><path d="M16 14v7"></path><path d="M20 10v11"></path><path d="m22 3-8.646 8.646a.5.5 0 0 1-.708 0L9.354 8.354a.5.5 0 0 0-.707 0L2 15"></path><path d="M4 18v3"></path><path d="M8 14v7"></path></svg>
            )}
          </span>
          <h3 class="feature__title accent">{feature.title}</h3>
          <ul>
            {feature.content.map(line => (
              <li set:html={line}></li>
            ))}
          </ul>
        </div>
      ))}
    </div>
  </div>
</section>

<style>
  .accent {
    color: var(--accent);
  }

  .features {
    padding: 4rem 0;
    background: linear-gradient(var(--secondary-dark), var(--primary-dark));
  }

  .features__header {
    text-align: center;
    margin-bottom: 3rem;
    
  }

  .features__title {
    font-size: 3.5rem;
    margin-bottom: 1rem;  
  }

  .features__subtitle {
    font-size: 1.2rem;
    color: #ccc;
    margin: 0 auto;

    max-width: 600px;
  }

  .features__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
  }

  .feature {
    background: var(--secondary-dark);
    border-radius: 1.2rem;
    padding: 2rem 1.5rem;
    box-shadow: 0 2px 12px rgba(0,0,0,0.10);
    transition: transform 0.15s, box-shadow 0.15s;
  }

  .feature:hover { 
      box-shadow: 0 6px 16px var(--accent);
      background: var(--secondary);
      opacity: 1;
  }

  .feature__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .feature__icon {
    font-size: 2rem;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    border-radius: 50%;
  }

  .feature__title {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 1rem 0;
  }

  .feature ul {
    padding-left: 0.2rem;
    margin: 0;
    list-style: none;
  }

  .feature li {
    font-size: 1.05rem;
    margin-bottom: 0.7rem;
    line-height: 1.6;
  }

  @media (max-width: 700px) {
    .features {
      padding: 2rem 0;
    }
    .features__title {
      font-size: 1.4rem;
    }
    .features__subtitle {
      font-size: 1rem;
    }
    .feature {
      padding: 1.5rem;
    }

    .feature__header {
      flex-direction: column;
      text-align: center;
      gap: 0.5rem;
    }

    .feature__icon {
      gap: 10px;
      width: 50px;
      height: 50px;
      font-size: 1.5rem;
      
    }
  }
</style>